{% extends "base.html" %}
{% block content %}
<table class="table">
	<thead>
	   <tr>
		<th>File Name</th>
		<th></th>
		<th>Date of modification</th>
		<th>File size</th>
	   </th>
	</thead>
<tbody>	

{% for row in content %}
<tr>
	<td><a href="/dir/{{row[0]}}">{{row[0]}}</a></td>
	<td><a href="{{ url_for('download_file', filename=row[0]) }}"><img src="https://img.icons8.com/metro/15/000000/download.png"/></a>
		<a href="{{ url_for('delete_item', filename=row[0]) }}"><img src="https://img.icons8.com/ios-glyphs/20/000000/delete-forever.png"/></a>
	</td>
	<td>{{row[1]}}</td>
	<td>{{row[2]}}</td>
</tr>
{% endfor %}

</tbody>
</table>
{% endblock %}