{% extends "base.html" %}
{% block content %}
<table class="table">
	<thead>
	   <tr>
		<th>File Name</th>
		<th>Action</th>
		<th>Date of modification</th>
		<th>File size</th>
	   </th>
	</thead>
<tbody>	

{% for row in content %}
<tr>
	{% if row['is_dir'] %}
		<td><a href="/dir/{{ row['path'] }}">{{row['name']}}</a></td>
		<td width="1%"></td>
		<td width="10%">{{row['date']}}</td>
		<td width="10%"></td>
	{% else %}
		<td>{{row['name']}}</td>
		<td width="20%">
			<a href="{{ url_for('download', filename=row['path']) }}">Download</a>
		</td>	
		<td width="10%">{{row['date']}}</td>
		<td width="10%">{{row['size']}}</td>
	{% endif %}
{% endfor %}

</tbody>
</table>
{% endblock %}